beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
idna==2.6
lxml==4.6.5
requests==2.18.4
selenium==3.9.0
urllib3==1.22
spiderkeeper==1.2.0
simplejson==3.10.0
tablib==0.12.1
scrapy==1.5.0
pymongo==3.4.0
json-lines==0.3.1
